<div class="edit-top">Editing Book</div>

<%= form_with model: @book do |f| %>

  <div class="edit-item">Title</div>
  <%= f.text_field :title %>

  <div class="edit-item">Body</div>
  <%= f.text_area :body %>

  <div class="edit-box"><%= f.submit 'Update Book' %></div>
  <div class="menu-list">
    <%= link_to "Show", book_path(@book.id) %>|
    <%= link_to "Back", "/books" %>
  </div>

<% end %>